.DS_Store
.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/config.mk
/scratch.md
/examples/go-client/go-client
/examples/**/*.exe
/examples/**/*.out
coverage.out
/coverage-all.out
coverage.lcov
/coverage-all.lcov
/build.log
/directive.txt
