name: API Linter
on:
  workflow_call:
permissions:
  contents: read
jobs:
  api-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 'stable'
      - uses: bufbuild/buf-action@v1
        with:
          setup_only: true
      - run: make google-api-linter
