name: Buf

on:
  workflow_call:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Buf Lint
        run: buf lint
      
      - name: Buf Breaking
        run: buf breaking --against 'https://github.com/${{ github.repository }}.git#ref=main'
