name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit
